---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import Layout from "../../layouts/Layout.astro";

type TeamMember = { image: string; name: string; role?: string };

const TEAM: TeamMember[] = [
  { image: "/team/mathieu-jacomy.png", name: "Mathieu Jacomy", role: "Project management and design" },
  { image: "/team/mathieu-bastian.png", name: "Mathieu Bastian", role: "Java architect" },
  { image: "/team/eduardo-ramos-ibanez.png", name: "Eduardo Ramos Ibáñez", role: "Java lead developer" },
  { image: "/team/matthieu-totet.png", name: "Matthieu Totet", role: "Java codebase and plugins" },
  { image: "/team/paul-girard.jpeg", name: "Paul Girard", role: "Gephi Lite team" },
  { image: "/team/alexis-jacomy.jpg", name: "Alexis jacomy", role: "Gephi Lite team" },
  { image: "/team/benoit-simard.jpeg", name: "Benoit Simard", role: "Gephi Lite team" },
  { image: "/team/martin-grandjean.png", name: "Martin Grandjean", role: "Community management" },
  { image: "/team/clement-levallois.png", name: "Clément Levallois", role: "Community emulation" },
];
---

<Layout>
  <header class="banner py-5">
    <section class="container my-5 py-4">
      <h1>About Gephi</h1>
    </section>
  </header>

  <main class="py-5">
    <section class="container pb-5">
      <section class="feature feature-left feature-flat py-4" id="history">
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:hourglass-medium" class="text-primary" />
              <span>Project history</span>
            </h2>
            <p>
              Gephi has been initially developed by students of the <a href="https://www.utc.fr/en/"
                >University of Technology of Compiègne</a
              >, in France. It has been selected for the <a href="https://summerofcode.withgoogle.com/"
                >Google Summer of Code</a
              > from 2009 to 2013. It received the <a href=https://www.oracle.com/technical-resources/articles/java/dukeschoicewinners.html">Duke's Choice Award</a> at JavaOne 2010.
            </p>
            <p>
              After a less active period of development, the Gephi team gathers <a
                href="https://gephi.wordpress.com/2021/12/06/gephi-code-sustainability-retreat-2021-debriefing/"
                >almost</a
              >
              <a href="https://gephi.wordpress.com/2022/10/16/gephi-week-2022-debriefing/">every</a>
              <a href="https://gephi.wordpress.com/2024/06/13/gephi-week-2024-peek-from-the-inside/">year</a> since 2021
              to maintain the codebase, meets users, and discuss and design new features.
            </p>
            <p>
              For more information about the evolution of the project, check our <a href="https://gephi.wordpress.com">blog</a>.
            </p>
          </div>
        </section>
      </section>

      <section class="feature feature-left feature-flat py-4" id="roadmap">
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:list-checks" class="text-primary" />
              <span>Roadmap</span>
            </h2>
            <h3>Roadmap to Gephi Desktop 1.0</h3>
            <p>
              Gephi Desktop has been a "beta" version for more than a decade.
              This just means that the team does not consider the tool to be <em>complete</em> yet.
              We aim to implement the following features before getting "version 1.0":
            </p>
            <ul class="fs-4 ps-md-0 mt-0">
              <li><strong>Undo</strong> feature, limited to the “GEXF scope”: network data, metadata, positions, sizes, colors…</li>
              <li><strong>Default save to GEXF.</strong> More stable than “.gephi” though it does not save the state of the user interface.</li>
              <li><strong>Activity log</strong>, possibly coordinated to undo, possibly stored in the GEXF. A plugin is already exploring that direction.</li>
              <li><strong>Parallel edges.</strong> The GraphStore supports it but not the rest of Gephi.</li>
              <li><strong>New GPU visualization engine.</strong> We aim for comfortably visualizing 200K nodes and 1M edges on an average consumer laptop. Might be ready soon!</li>
              <li><strong>Curved edges in visual exploration.</strong> These are important because they help identifying edge orientation.</li>
              <li><strong>Legend generator</strong> (note: available in Gephi Lite)</li>
            </ul>
            <p>We are also considering the following features, but for a more distant future:</p>
            <ul class="fs-4 ps-md-0 mt-0">
              <li>Local exploration, i.e. at least a quick overview of a subgraph.</li>
              <li>Edges bundling visualization technique</li>
              <li>Integrate other visualization (treemap, scatter plots...)</li>
            </ul>

            <h3>Project roadmap</h3>
            <p>
              Beyond the codebase, we also work on the project's structuration and other aspects. Next up we aim at this:
            </p>
            <ul class="fs-4 ps-md-0 mt-0">
              <li><strong>Consolidate governance.</strong> Clarify roles, add content to our Open Collective platform, and improve onboarding.</li>
              <li><strong>Raise funds and facilitate donations.</strong> We need funds for the Gephi Weeks and ultimately, for a maintainer.</li>
              <li><strong>Recruit dev contributors.</strong> Having devs familiar with the codebases is key to the sustainability of the project.</li>
            </ul>
          </div>
        </section>
      </section>

      <section class="feature feature-left feature-flat py-4" id="team">
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:users-three" class="text-primary" />
              <span>Team</span>
            </h2>
            <p>
              Gephi has been made possible by so many people that it's hard to name them all, from developers, to
              content creators, to translators...
            </p>
            <p>Here is a non-exhaustive list of currently active members:</p>
          </div>
        </section>

        <div class="feature-text mw-100">
          <div class="team-members">
            {
              TEAM.map((member) => (
                <div class="team-member">
                  <Image
                    width="200"
                    height="200"
                    class="img-thumbnail"
                    src={member.image}
                    alt={`${member.name}'s picture`}
                  />
                  <h3 class="fs-5 mb-0">{member.name}</h3>
                  {member.role && <div class="text-muted">{member.role}</div>}
                </div>
              ))
            }
          </div>
        </div>
        <div class="feature-text">
        <p>We thank the following contributors, who have improved the code or added new features: Clément Levallois, Anna Kharitonova, Antonin Delpeuch, Côme Brocas, Sukankana Chakraborty, Walton Goga.</p>
        <p>Plugin developers meaningfully contribute to the community, and we want to thank all of their contributions. You can directly find plugin authors in <a href="desktop/plugins">Plugins</a>. 
        <p>The years Gephi participated in the Google Summer of Code was rich in collaboration and contributions. 
        We thank mentors Eytan Adar, Christian Tominski, Cezary Bartosiak, Julian Bilcke, Antonio Patriarca and Eduardo Ramos Ibáñez. 
        We also thank Helder Suzuki, Jeremy Subtil, Patrick McSweeney, André Panisson, Antonio Patriarca, Martin Škurla, Yi Du, Yudi Xue, Vojtech Bardiovsky, Ernesto Aneiros, Urban Škudnik, Keheliya Gallaba, Daniel Bernardes, Luiz Ribeiro, Min Wu, Vikash Anand, Taras Klaskovsky, Romain Yon, Eduardo Espinoza, Vijesh M. and Nitesh Bhargava for their student contributions.</p>
        <p>Gephi is a multilingual software thanks to its many translators. We are grateful for their work. You can find them directly on our <a href="https://hosted.weblate.org/projects/gephi/">Weblate</a>.
        <p>Finally, we thank key early-days contributors and supporters Sébastien Heymann, Guillaume Lebourgeois, Dana Diminescu, Camille Maussang, Aurélien Beltrame, Stéphane Raux, Alain Le Berre, Guilhem Fouetillou and Franck Ghitalla.</p>
        </div>
      </section>
    </section>
  </main>
</Layout>
