---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import Layout from "../../layouts/Layout.astro";

type TeamMember = { image: string; name: string; role?: string };

const TEAM: TeamMember[] = [
  { image: "/team/mathieu-jacomy.png", name: "Mathieu Jacomy", role: "Project management and design" },
  { image: "/team/mathieu-bastian.png", name: "Mathieu Bastian", role: "Java architect" },
  { image: "/team/eduardo-ramos-ibanez.png", name: "Eduardo Ramos Ibáñez", role: "Java lead developer" },
  { image: "/team/matthieu-totet.png", name: "Matthieu Totet", role: "Java codebase and plugins" },
  { image: "/team/paul-girard.jpeg", name: "Paul Girard", role: "Gephi Lite team" },
  { image: "/team/alexis-jacomy.jpg", name: "Alexis jacomy", role: "Gephi Lite team" },
  { image: "/team/benoit-simard.jpeg", name: "Benoit Simard", role: "Gephi Lite team" },
  { image: "/team/martin-grandjean.png", name: "Martin Grandjean", role: "Community management" },
  { image: "/team/clement-levallois.png", name: "Clément Levallois", role: "Community emulation" },
];
---

<Layout pageId="about">
  <header class="banner">
    <section class="container">
      <h1>About Gephi</h1>
    </section>
  </header>

  <main class="py-5">
    <section class="feature-container pb-5">
      <section class="feature feature-left feature-flat py-4" id="history">
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:cake" class="text-primary" />
              <span>Project history</span>
            </h2>
            <p>
              Gephi has been initially developed by students of the <a href="https://www.utc.fr/en/"
                >University of Technology of Compiègne</a
              >, in France. It has been selected for the <a href="https://summerofcode.withgoogle.com/"
                >Google Summer of Code</a
              > from 2009 to 2013. It received the <a
                href='https://www.oracle.com/technical-resources/articles/java/dukeschoicewinners.html"'
                >Duke's Choice Award</a
              > at JavaOne 2010.
            </p>
            <p>
              After a less active period of development, the Gephi team gathers <a
                href="https://gephi.wordpress.com/2021/12/06/gephi-code-sustainability-retreat-2021-debriefing/"
                >almost</a
              >
              <a href="https://gephi.wordpress.com/2022/10/16/gephi-week-2022-debriefing/">every</a>
              <a href="https://gephi.wordpress.com/2024/06/13/gephi-week-2024-peek-from-the-inside/">year</a> since 2021
              to maintain the codebase, meets users, and discuss and design new features.
            </p>
            <p>
              For more information about the evolution of the project, check our <a href="https://gephi.wordpress.com"
                >blog</a
              >.
            </p>
          </div>
        </section>
      </section>

      <section class="feature feature-left feature-flat py-4" id="roadmap">
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:road-horizon" class="text-primary" />
              <span>Project roadmap</span>
            </h2>

            <p>
              Beyond the codebase, we also work on the project’s structure and other aspects. Next up we aim at this:
            </p>
            <ul class="fs-4 ps-md-0 mt-0">
              <li>
                <strong>Consolidate governance.</strong> Clarify roles, add content to our Open Collective platform, and
                improve onboarding.
              </li>
              <li>
                <strong>Raise funds and facilitate donations.</strong> We need funds for the Gephi Weeks and ultimately,
                for recurrent contributors.
              </li>
              <li>
                <strong>Recruit core contributors.</strong> Having developers familiar with the codebases is key to the sustainability
                of the project.
              </li>
              <li>
                <strong>Gephi Weeks.</strong> We meet for an entire week every year, and that’s a great moment to care for
                and contribute to the project.
              </li>
            </ul>
            <p>
              Follow the evolution of the project on our <a href="https://gephi.wordpress.com/">blog</a>, and notably
              the Gephi Weeks:
              <a href="https://gephi.wordpress.com/2021/12/06/gephi-code-sustainability-retreat-2021-debriefing/"
                >2021</a
              >,
              <a href="https://gephi.wordpress.com/2022/10/16/gephi-week-2022-debriefing/">2022</a>, and <a
                href="https://gephi.wordpress.com/2024/06/13/gephi-week-2024-peek-from-the-inside/">2024</a
              >. (2025 upcoming)
            </p>
          </div>
        </section>
      </section>

      <section class="feature feature-left feature-flat py-4" id="team">
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:users-three" class="text-primary" />
              <span>Team</span>
            </h2>
            <p>
              Gephi has been made possible by so many people that it's hard to name them all, from developers, to
              content creators, to translators...
            </p>
            <p>Here is a non-exhaustive list of currently active members:</p>
          </div>
        </section>

        <div class="feature-text mw-100">
          <div class="team-members">
            {
              TEAM.map((member) => (
                <div class="team-member" style="width: 230px">
                  <Image
                    width="200"
                    height="200"
                    class="img-thumbnail"
                    src={member.image}
                    alt={`${member.name}'s picture`}
                  />
                  <h3 class="fs-5 mb-0">{member.name}</h3>
                  {member.role && <div class="text-muted">{member.role}</div>}
                </div>
              ))
            }
          </div>
        </div>
        <div class="feature-text">
          <p>
            We thank the following contributors, who have improved the code or added new features: Clément Levallois,
            Anna Kharitonova, Antonin Delpeuch, Côme Brocas, Sukankana Chakraborty, Walton Goga.
          </p>
          <p>
            Plugin developers meaningfully contribute to the community, and we want to thank all of their contributions.
            You can directly find plugin authors in <a href="desktop/plugins">Plugins</a>.
            <p>
              The years Gephi participated in the Google Summer of Code was rich in collaboration and contributions. We
              thank mentors Eytan Adar, Christian Tominski, Cezary Bartosiak, Julian Bilcke, Antonio Patriarca and
              Eduardo Ramos Ibáñez. We also thank Helder Suzuki, Jeremy Subtil, Patrick McSweeney, André Panisson,
              Antonio Patriarca, Martin Škurla, Yi Du, Yudi Xue, Vojtech Bardiovsky, Ernesto Aneiros, Urban Škudnik,
              Keheliya Gallaba, Daniel Bernardes, Luiz Ribeiro, Min Wu, Vikash Anand, Taras Klaskovsky, Romain Yon,
              Eduardo Espinoza, Vijesh M. and Nitesh Bhargava for their student contributions.
            </p>
            <p>
              Gephi is a multilingual software thanks to its many translators. We are grateful for their work. You can
              find them directly on our <a href="https://hosted.weblate.org/projects/gephi/">Weblate</a>.
              <p>
                Finally, we thank key early-days contributors and supporters Sébastien Heymann, Guillaume Lebourgeois,
                Dana Diminescu, Camille Maussang, Aurélien Beltrame, Stéphane Raux, Alain Le Berre, Guilhem Fouetillou
                and Franck Ghitalla.
              </p>
            </p>
          </p>
        </div>
      </section>
    </section>
  </main></Layout
>
