---
import LangSwitcher from "../../components/LangSwitcher.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <header class="container container-medium mt-5 mb-5 text-center">
    <section>
      <h1>Try Gephi Lite</h1>
    </section>
  </header>

  <main class="container">
    TODO

    <LangSwitcher fromPath={Astro.originPathname} />
  </main>
</Layout>
