---
import { Icon } from "astro-icon/components";
interface Props {
  id: string;
  question: string;
  answer: string;
}
const { id, question, answer } = Astro.props;
---

<details class="faq-item border-bottom py-3" id={id}>
  <summary>
    <h3 class="faq-question fs-5 d-inline fw-normal">{question}</h3>
    <Icon class="faq-question-icon" name="ph:caret-down" />
  </summary>
  <div class="faq-answer fs-6 mt-3" set:html={answer} />
</details>
