---
import UnderConstructionPage from "../../components/UnderConstructionPage.astro";
---

<UnderConstructionPage title="Contribute">
  <p>The Contribute page will list information on how to contribute to Gephi.</p>
</UnderConstructionPage>
