<div id="bottom">
    <div id="footer" class="widthfix">
        <div class="alignleft"><a href="/">Gephi.org</a> © All Rights Reserved 2008-2015</div>
        <div class="alignright">
            <a href="/">home</a> <a href="/legal/">legal</a> <a href="/about/">about</a> <a href="/users/marketing/spread-users/">spread!</a> <a href="/about/links/">links</a>
            <span class="right"><script src="https://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="https://www.facebook.com/pages/Gephi-Consortium/155423277833760" layout="button_count" width="50" font="verdana"></fb:like></span>
            <a href="http://www.linkedin.com/groups/Gephi-1866443"><img src="{{ site.baseurl }}/images/icons/linkedin_24.png" width="24px" height="24px" class="social" alt="LinkedIn" title="Join our LinkedIn group!" /></a>
            <a href="https://www.facebook.com/groups/gephi/"><img src="{{ site.baseurl }}/images/icons/facebook_24.png" width="24px" height="24px" class="social" alt="Facebook" title="Join us on Facebook!" /></a>
            <a href="https://twitter.com/gephi"><img src="{{ site.baseurl }}/images/icons/twitter_24.png" width="24px" height="24px" class="social" alt="Twitter" title="Follow us on Twitter!" /></a>
            <a href="http://www.flickr.com/photos/gephi/"><img src="{{ site.baseurl }}/images/icons/flickr_24.png" width="24px" height="24px" class="social" alt="Flickr" title="See beautiful Gephi graphics on Flickr!" /></a>
            <a href="http://www.vimeo.com/gephi/videos"><img src="{{ site.baseurl }}/images/icons/vimeo_24.png" width="24px" height="24px" class="social" alt="Vimeo" title="Watch Gephi screencasts on Vimeo!" /></a>
            <a href="https://gephi.wordpress.com/feed/"><img src="{{ site.baseurl }}/images/icons/feed_24.png" width="24px" height="24px" class="social" alt="RSS" title="Subscribe to our RSS feed!" /></a>
        </div>
    </div>
</div>
