<div id="header">
    <div class="widthfix">
        <a href="{{ site.baseurl }}/" title="graph exploration and manipulation">
            <img class="logo" src="{{ site.baseurl }}/images/logo.png" width="334px" height="100px" alt="{{ site.title }}"/>
        </a>
        <ul class="menu">
            <li class="page_item page-item-6 "><a href="{{ site.baseurl }}/" title="Home">Home</a></li>
            <li class="page_item page-item-1171 "><a href="/features/" title="Features">Features</a></li>
            <li class="page_item page-item-1160 "><a href="/users/" title="Learn">Learn</a></li>
            <li class="page_item page-item-1162 "><a href="/developers/" title="Develop">Develop</a></li>
            <li class="page_item"><a href="https://marketplace.gephi.org/" title="Plugins">Plugins</a></li>
            <li class="page_item"><a href="https://marketplace.gephi.org/services/" title="Plugins">Services</a></li>
            <li class="page_item"><a href="https://consortium.gephi.org/" title="Consortium">Consortium</a></li>
        </ul>
        <div id="quick-access">
            <a href="/users/download/" title="Download">Download</a> | <a href="http://gephi.wordpress.com/" title="Blog">Blog</a> |
            <a href="https://github.com/gephi/gephi/wiki" title="Wiki (external)">Wiki</a> |
            <a href="https://forum.gephi.org" title="Forum (external)">Forum</a> |
            <a href="/users/support/">Support</a> |
            <a href="https://github.com/gephi/gephi" title="Bug tracker (external)">Bug tracker</a>
        </div>
    </div>
</div>
