<div class="aside noborder">
    <a class="button" href="/users/download/"><img src="{{ site.baseurl }}/images/download_now.png" alt="Download now" width="200px" height="55px" /></a>
</div>
<div class="aside noborder">
	<a class="button" href="https://gephi.wordpress.com/"><img src="{{ site.baseurl }}/images/stay_informed.png" alt="Stay informed" width="200px" height="55px" /></a>
</div>

<div class="aside">
	<a class="button" href="/users/contribute/"><img src="{{ site.baseurl }}/images/contribute.png" alt="Contribute" width="200px" height="55px" /></a>
</div>

	<div class="aside noborder">
    	<a class="button" href="https://github.com/gephi/gephi/issues/new"><img src="{{ site.baseurl }}/images/report_bug.png" alt="Report a Bug" title="Report a Bug" width="200px" height="28px" /></a>
	</div>
	
	<div class="aside">
    	<a class="button" href="https://github.com/gephi/gephi/issues/new"><img src="{{ site.baseurl }}/images/request_feature.png" alt="Request a New Feature" title="Request a New Feature" width="200px" height="28px" /></a>
	</div>
	
	<div class="aside">
    	<a class="button" href="https://github.com/gephi/gephi/wiki/Idea-List"><img src="{{ site.baseurl }}/images/share_ideas.png" alt="Share your ideas" title="Share your ideas" width="200px" height="28px" /></a>
	</div>
	
<div class="aside">
	<h2>Ways to get help</h2>
    <ul>
    	<li><a href="https://forum.gephi.org/">2) Get Personal Help</a></li>
    	<li><a href="/users/support/">3) Other Gephi Support</a></li>
    	<li><a href="https://marketplace.gephi.org/services/">4) Get Professional Training Courses</a></li>
    </ul>
</div>
	
<div class="aside">
	<h2>New to Gephi?</h2>
    <ul>
    	<li><a href="/users/install/">Installing Gephi</a></li>
    	<li><a href="/users/requirements/">System Requirements</a></li>
    	<li><a href="/users/quick-start/">Quick Start Guide</a></li>
    	<li><a href="https://marketplace.gephi.org">Customizing Gephi with plugins</a></li>
    </ul>
</div>
