<div class="aside">
    <h2>Legal Information</h2>
    <ul>
    	<li><a href="/legal/">Legal Index</a></li>
    	<li><a href="/developers/license/">Product Licences</a></li>
    	<li><a href="/legal/copyright/">Copyright</a></li>
    	<li><a href="/legal/web-site-terms-of-use/">Terms of Use</a></li>
    	<li><a href="/legal/privacy/">Privacy</a></li>
    	<li><a href="/legal/faq/">Legal FAQ</a></li>
    </ul>
</div>
	
<div class="aside">
    <ul>
    	<li><a href="/about/">About Gephi...</a></li>
    </ul>
</div>