<div class="aside">
    <a class="button" href="/users/download/">
        <img src="{{ site.baseurl }}/images/download_now.png" alt="Download now">
    </a>
</div>
<div class="aside">
    <h2>Quick Facts</h2>
    <b>Software</b>
    <ul>
        <li>Type: Visualization tool</li>
        <li>Platforms: Windows, Linux, MacOS X</li>
        <li>Language: Java 1.6</li>
        <li>License: CDDL + GNU GPL 3</li>
    </ul>
    <b>Graphs</b>
    <ul>
        <li>Field: All types of networks</li>
        <li>Types: Directed, unidrected, mixed</li>
        <li>Size: &lt;1M nodes & edges</li>
        <li>Layouts: ForceAtlas, Yifan's Hu Multilevel</li>
    </ul>
</div>
<div class="aside" style="text-align:right">
    <a href="/screenshots">
        <img src="{{ site.baseurl }}/images/screenshot5-mini.png" width="200">
    </a>
    <a href="/screenshots">Screenshots »</a>
</div>