---
import UnderConstructionPage from "../../components/UnderConstructionPage.astro";
---

<UnderConstructionPage title="How-to">
  <p>The How to page will propose a beginner tutorial and list existing tutorials you can find online.</p>
  <div slot="more-information">
    <p>Meanwhile you can visit the tutorials made by the community:</p>
    <p>
      <b>Ver&oacute;nica Espinoza</b> teaches Gephi applied to computer sciences and digital anthropology at NetHabitus (Mexico).
      On her Medium blog, she publishes numerous resources that allow users to discover and compare the features of several
      network analysis software programs, including <a
        href="https://www.google.com/url?q=https://medium.com/@vespinozag&sa=D&source=editors&ust=1756735244743974&usg=AOvVaw2wyMMCPwevWenHM2-xFp17"
        >Gephi tutorials</a
      > on various plugins, functionalities, and tools for extracting networks from various sources. She also publishes resources
      and tools on her
      <a
        href="https://www.google.com/url?q=https://www.veronicaespinoza.org/welcome&sa=D&source=editors&ust=1756735244744353&usg=AOvVaw29ge92FfGUZEbcRu7u9LgX"
        >personal website</a
      >.
    </p>
    <p>
      <b>Martin Grandjean</b> teaches Gephi applied to history and the humanities at the University of Lausanne (Switzerland).
      On his blog, which features many examples of how Gephi can be used on a variety of datasets, he offers a
      <a
        href="https://www.google.com/url?q=https://www.martingrandjean.ch/gephi-introduction/&sa=D&source=editors&ust=1756735244744936&usg=AOvVaw32OvUxXJTv0OdKGF6sTCCh"
        >Gephi tutorial</a
      > that walks users through the main steps of analyzing a dataset, including a geographical component, a transition
      from a 2-mode to a 1-mode graph, and a complete video walkthrough. He also posts explanatory videos on his <a
        href="https://www.google.com/url?q=https://www.youtube.com/@MartinGrandjean&sa=D&source=editors&ust=1756735244745438&usg=AOvVaw2ds15CHrQ7pQTMYZkUCZNy"
        >YouTube channel</a
      >.
    </p>
    <p>
      <b>Mathieu Jacomy</b> co-creator of Gephi, teaches Gephi applied to the social sciences at Aalborg University in Copenhagen
      (Denmark). On his website, which brings together a host of tutorials and notebooks on Controvery Mapping, he offers
      <a
        href="https://www.google.com/url?q=https://jacomyma.github.io/mapping-controversies/%23visualizing-networks-gephi&sa=D&source=editors&ust=1756735244746150&usg=AOvVaw1Q8bsfpcw6e3tiubYs86N_"
        >several Gephi tutorials</a
      >, from introductory level to specific lessons on bipartite networks, weighted networks or the use of Table2Net (a
      tool he developed himself) to prepare data. Have also a look at his

      <a
        href="https://www.google.com/url?q=https://www.youtube.com/@jacomyma&sa=D&source=editors&ust=1756735244746622&usg=AOvVaw2ibYfXBsApf4b0wtOy-rl5"
        >YouTube channel</a
      > and his blog - <a
        href="https://www.google.com/url?q=https://reticular.hypotheses.org/&sa=D&source=editors&ust=1756735244746766&usg=AOvVaw1emsss82uDsfOg4HGbHldZ"
        >Reticular</a
      > - where he publishes reflections on the visual analysis of networks.
    </p>
    <p>
      <b>Cl&eacute;ment Levallois</b> Cl&eacute;ment Levallois teaches Gephi applied to economics and design at Gobelins
      Paris (France). He has compiled his <a
        href="https://www.google.com/url?q=https://seinecle.github.io/gephi-tutorials/&sa=D&source=editors&ust=1756735244747353&usg=AOvVaw1OgTEkI2rHbyYZlklJXs4l"
        >Gephi tutorials</a
      > on a dedicated website, covering features such as importing, filters, dynamic networks, and the use of various tools
      and plugins that he has developed himself to facilitate graph data processing. He also created the
      <a
        href="https://www.google.com/url?q=https://nocodefunctions.com/&sa=D&source=editors&ust=1756735244747844&usg=AOvVaw2ofXixE87orZ693snBgUlj"
        >nocodefunctions</a
      > website to bring together the various tools he develops.
    </p>
  </div>
</UnderConstructionPage>
