---
import { Image } from "astro:assets";
import Gephi from "../../components/how-to/Gephi.md";
import GephiLite from "../../components/how-to/GephiLite.md";
import Layout from "../../layouts/Layout.astro";
---

<Layout class="no-sticky-nav">
  <header class="banner py-5">
    <section class="container my-5 py-4">
      <h1>How to?</h1>
    </section>
  </header>

  <main id="how-to-page" class="py-5">
    <section class="how-to-choice w-100 sticky-top container">
      <h2 class="d-flex justify-content-center align-item-center gap-3 w-100">
        <div class="label-container" id="gephi">
          <label for="onlyGephi">
            <Image
              src="/icons/gephi-desktop-logo-inverted.svg"
              class="mb-3 mb-md-0"
              alt="Gephi logo"
              width="100"
              height="100"
            />
            <span class="label-content">Gephi</span></label
          >
        </div>
        <div class="d-flex align-items-center gap-1">
          <input name="how-to-columns" type="radio" id="onlyGephi" />
          <input name="how-to-columns" type="radio" id="both" />
          <input name="how-to-columns" type="radio" id="onlyGephiLite" />
        </div>
        <div class="label-container" id="gephi-lite">
          <label for="onlyGephiLite">
            <span class="label-content">Gephi Lite</span>

            <Image
              src="/icons/gephi-lite-logo-inverted.svg"
              class="mb-3 mb-md-0"
              alt="Gephi logo"
              width="100"
              height="100"
            />
          </label>
        </div>
      </h2>
    </section>
    <section class="how-to container">
      <article class="how-to-column" id="gephi">
        <Gephi />
      </article>
      <article class="how-to-column" id="gephi-lite">
        <GephiLite />
      </article>
    </section>
  </main>
</Layout>
