---
import Gephi from "../../components/how-to/Gephi.astro";
import GephiLite from "../../components/how-to/GephiLite.md";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <header class="banner py-5">
    <section class="container my-5 py-4">
      <h1>How to?</h1>
    </section>
  </header>

  <main class="py-5">
    <section class="how-to container">
      <article class="how-to-column" id="gephi">
        <h2>Gephi</h2>
        <Gephi />
      </article>
      <article class="how-to-column" id="gephi-lite">
        <h2>Gephi Lite</h2>
        <GephiLite />
      </article>
    </section>
  </main>
</Layout>
