@use "sass:map";

.inset-0 {
  inset: 0 !important;
}

body {
  // Handle dynamic font:
  font-optical-sizing: auto;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  & > main {
    flex-grow: 1;
  }
}

.gephi-font {
  font-family: $gephi-title-font-family;
}

.mw-100 {
  max-width: 100% !important;
}

.container.container-medium {
  max-width: map.get($container-max-widths, "md") !important;
}
.container.container-large {
  max-width: map.get($container-max-widths, "lg") !important;
}

svg[data-icon] {
  margin-bottom: 0.3rem;
}

.left-scrollbar {
  direction: rtl;
  & > * {
    direction: ltr;
  }
}
