.banner {
  width: 100%;
  height: fit-content;
  position: relative;
  img.banner-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  section.container {
    position: relative;
    z-index: 2;
  }

  background-color: $gray-800;
  @extend .text-light;

  .banner-top {
    padding-bottom: $spacer-3;
    img.banner-background {
      height: calc(100% + $spacer-3);
    }
  }

  .banner-contents {
    display: flex;
    gap: $spacer-5;
  }

  .banner-texts {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: $spacer-4;

    & > * {
      margin: 0;
    }
  }
  .banner-image {
    width: 28%;

    &.banner-logo {
      width: 40%;
    }

    text-align: end;
    img {
      max-width: 100%;
    }
  }
}

.feature-container {
  @extend .container;
}

.feature {
  gap: $spacer-4;
  display: flex;
  flex-direction: column;
  position: relative;

  &:has(.feature-background) {
    padding: 3rem 0;
  }

  .feature-background {
    position: absolute;
    inset: 0;
    z-index: 0;
    // background-position: right top;
    // background-repeat: no-repeat;
    // background-size: contain;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: $spacer-4;

    img {
      max-width: 100%;
      width: auto;
      max-height: 100%;
      object-fit: contain;
      object-position: top;

      &:nth-child(2n) {
        margin-top: 3rem;
      }
    }
  }
  & > *:not(.feature-background) {
    z-index: 1;
  }

  .feature-headline {
    display: flex;
    align-items: center;
  }

  .feature-text,
  .feature-arguments > * {
    max-width: 60%;

    ul {
      padding-left: $spacer-3;
    }
  }

  &:not(.feature-flat) {
    padding: 5rem 0;

    .feature-text,
    .feature-arguments > * {
      @extend .shadow;
      background: #fffffff6;
    }

    .feature-text {
      padding: $spacer-5;
    }
  }

  .feature-text {
    @extend .fs-4;

    p {
      &:last-child {
        margin: 0;
      }
    }
  }

  .feature-arguments {
    gap: $spacer-4;
    display: flex;
    align-items: start;

    & > div {
      @extend .fs-5;
      padding: $spacer-4;
      max-width: 450px;
    }

    & > figure {
      flex-shrink: 1;

      img {
        max-width: 100%;
        max-height: 400px;
        height: 100%;
        width: auto;
      }
    }
  }

  &.feature-academic {
    padding-bottom: 0;

    .feature-background {
      margin-bottom: 1rem;
    }
  }
}

@include media-breakpoint-up(md) {
  .banner {
    padding: calc(#{$spacer-5} * 3) 0;
  }
  .banner-contents {
    display: flex;
    align-items: center;
  }
  .banner-image img {
    width: auto;
  }

  .feature:nth-child(2n):not(.feature-left) {
    .feature-background {
      background-position: left top;
      justify-content: start;
    }

    .feature-headline,
    .feature-arguments {
      justify-content: end;
    }
  }
}

@include media-breakpoint-between(md, lg) {
  .feature .feature-text,
  .feature .feature-arguments > * {
    max-width: 80%;
  }
}

@include media-breakpoint-down(md) {
  .banner:has(.banner-contents) {
    padding: $spacer-5 0;
  }
  .banner:not(:has(.banner-contents)) {
    padding: calc(#{$spacer-5} * 2) 0;
  }
  .banner-contents {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    gap: $spacer-3;
  }
  .banner-image {
    width: 100% !important;
    display: flex;
    justify-content: center;

    img {
      height: auto;
      width: 100%;
    }
    &.banner-logo img {
      width: 80%;
    }
  }

  .feature-container {
    padding: 0 !important;
  }

  .feature {
    gap: $spacer-2 !important;
  }

  .feature iframe {
    max-width: 100%;
  }

  .feature .feature-text,
  .feature .feature-arguments > * {
    width: 100%;
    max-width: 100%;
  }

  .feature:not(.feature-flat) {
    padding: 2rem 0;
  }
  .feature .feature-text {
    padding: $spacer-5 calc(#{$spacer-4} * 0.5) !important;
  }
  .feature .feature-arguments > div {
    padding: calc(#{$spacer-4} * 0.5) !important;
    p {
      margin: 0;
    }
  }

  .feature .feature-arguments {
    gap: $spacer-2 !important;
    flex-direction: column;

    figure {
      margin: 0 !important;

      img {
        width: 100%;
        border-width: 0 !important;
        border-bottom-width: 1px !important;
      }
    }
  }
}

a.no-decoration {
  text-decoration: none;
  color: inherit;
}

.blog-posts-container {
  margin-top: $spacer-5;

  h2 {
    padding: 0 $base-padding;
  }

  .blog-posts {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: $spacer-4;
    width: 100%;
  }

  .blog-post {
    @extend .shadow;

    padding: $spacer-4;
    width: calc(50% - 1.5rem / 2);
    height: auto;

    background: $white;

    display: flex;
    flex-direction: column;
    gap: $spacer-3;

    h3 {
      @extend .fs-3;
      margin: 0;
    }
    img {
      max-width: 100%;
      max-height: 50%;
      object-fit: contain;
    }
  }

  @include media-breakpoint-down(md) {
    .blog-post {
      width: 100%;
      padding: $spacer-4 $base-padding;
    }
  }
}
