dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0;
  padding: 0;

  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  max-width: calc(100% - 2rem);

  button.close {
    border: 0;
    background-color: transparent;
    position: absolute;
    right: 1em;
    font-size: 1.5em;
  }
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
