.banner {
  width: 100%;
  background-image: url("/homepage/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $gray-800;
  @extend .text-light;
}

.feature {
  @extend .gap-4;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 3rem 0;

  &:not(:last-child) {
    @extend .mb-5;
  }

  .feature-background {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    @extend .gap-4;

    img {
      max-width: 80%;
      max-height: 100%;

      &:nth-child(2n) {
        margin-top: 3rem;
      }
    }
  }
  & > *:not(.feature-background) {
    z-index: 1;
  }

  .feature-headline {
    display: flex;
    align-items: center;
  }

  .feature-text,
  .feature-arguments > * {
    max-width: 60%;
  }

  &:not(.feature-flat) {
    padding: 5rem 0;

    .feature-text,
    .feature-arguments > * {
      @extend .shadow;
      background: #fffffff6;
    }

    .feature-text {
      @extend .p-5;
    }
  }

  .feature-text {
    p {
      @extend .fs-4;

      &:last-child {
        margin: 0;
      }
    }
  }

  .feature-arguments {
    @extend .gap-4;
    display: flex;
    align-items: start;

    & > div {
      @extend .p-4;
      @extend .fs-5;
      max-width: 450px;
    }

    & > figure {
      flex-shrink: 1;

      img {
        width: 500px;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  &:nth-child(2n) {
    .feature-background {
      background-position: left top;
      justify-content: start;
    }

    .feature-headline,
    .feature-arguments {
      justify-content: end;
    }
  }

  &.feature-academic {
    padding-bottom: 0;

    .feature-background {
      margin-bottom: 1rem;
    }
  }

  &.feature-visualizations .feature-background,
  &.feature-academic .feature-background,
  &.feature-community .feature-background {
    filter: saturate(0.4);
  }
}
