.plugins-main {
  .card {
    .card-img-top {
      height: 10rem;
      object-fit: cover;
    }
  }
  .plugins-filters {
    padding: 0 0.5rem;
    .checkbox-group {
      .checkbox:not(:last-child) {
        margin-bottom: 0.4rem;
      }
      .bar {
        height: 5px;
      }
    }
  }
}
