.plugins-main {
  .card {
    .card-img-top {
      height: 10rem;
      object-fit: cover;
    }
  }

  .plugins-filters {
    @extend .p-4;
    position: sticky;
    min-width: 300px;

    @include media-breakpoint-down(xl) {
      min-width: 220px;
    }

    top: $navbar-height;
    max-height: calc(100dvh - #{$navbar-height});
    overflow-y: auto;

    .checkbox-group {
      .checkbox:not(:last-child) {
        margin-bottom: 0.4rem;
      }
      .bar {
        height: 5px;
      }
    }
  }

  .facets-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .plugins-list {
    @extend .p-4;
  }

  article {
    .plugin-image {
      background: white;
      max-width: 100%;
      max-height: 300px;
    }
  }
}

.plugin-page {
  .banner .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    @extend .gap-5;

    img {
      background: $white;
      max-width: 30%;
      max-height: 300px;
      height: auto;
    }
  }

  .thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @extend .gap-4;

    img {
      max-height: 300px;
    }
  }

  .plugin-readme,
  .plugin-description {
    img,
    iframe {
      max-width: 100%;
    }

    h1 {
      @extend .fs-3;
    }
    h2 {
      @extend .fs-4;
    }
    h3 {
      @extend .fs-5;
    }
    h4,
    h5 {
      @extend .fs-6;
    }
  }
}
