.plugins-main {
  .card {
    .card-img-top {
      height: 10rem;
      object-fit: cover;
    }
  }

  .plugins-filters {
    @extend .p-4;
    position: sticky;
    min-width: 300px;

    @include media-breakpoint-down(xl) {
      min-width: 220px;
    }

    top: $navbar-height;
    max-height: calc(100dvh - #{$navbar-height});
    overflow-y: auto;

    .checkbox-group {
      .checkbox:not(:last-child) {
        margin-bottom: 0.4rem;
      }
      .bar {
        height: 5px;
      }
    }
  }

  .facets-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .plugins-list {
    @extend .p-4;
  }

  article {
    .plugin-image {
      background: white;
      max-width: 100%;
      max-height: 300px;
    }
  }
}

.plugin-page {
  h2 {
    .authors {
      .author:not(:last-child)::after {
        content: ", ";
      }
    }
  }
  .info-box {
    details {
      ul {
        display: flex;
        gap: 0.5rem;
      }
    }
  }

  article {
    img.cover {
      float: left;
      max-width: 50dvw;
    }
  }
}
