// Gephi specific colors:
$gephi-desktop-bg: #fff;
$gephi-desktop-logo: #000;
$gephi-lite-bg: #01799e;
$gephi-lite-bg-dark: #003f53;
$gephi-lite-logo: #e6dfdc;
$gephi-project-bg: #eae3d6;
$gephi-project-logo: #8352b6;
$gephisto-bg: #942f4b;
$gephisto-logo: #fff;

$custom-purple: #8352b6;

// Additional colors:
$white: #fff !default;
$light: #f6f7f8 !default;

$custom-colors: (
  white: $white,
  "gephi-desktop-bg": $gephi-desktop-bg,
  "gephi-desktop-logo": $gephi-desktop-logo,
  "gephi-lite-bg": $gephi-lite-bg,
  "gephi-lite-bg-dark": $gephi-lite-bg-dark,
  "gephi-lite-logo": $gephi-lite-logo,
  "gephi-project-bg": $gephi-project-bg,
  "gephi-project-logo": $gephi-project-logo,
  "gephisto-bg": $gephisto-bg,
  "gephisto-logo": $gephisto-logo,
);

// Typography:
$font-family-sans-serif: "Source Sans 3", "Helvetica Neue", Helvetica, Arial, sans-serif;
$gephi-title-font-family: "Montserrat Alternates", $font-family-sans-serif;
$headings-font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Bootstrap variables:
$btn-border-radius: 0 !default;
$btn-border-radius-sm: 0 !default;
$btn-border-radius-lg: 0 !default;
$h1-font-size: 5rem !default;
$h2-font-size: 2.5rem !default;
$body-bg: $light !default;
$primary: $custom-purple !default;
