---
import UnderConstructionPage from "../../components/UnderConstructionPage.astro";
---

<UnderConstructionPage title="Funding">
  <p>The Funding page will present our funding strategies and call for donations.</p>
</UnderConstructionPage>
