---
import UnderConstructionPage from "../../components/UnderConstructionPage.astro";
---

<UnderConstructionPage title="Help">
  <p>
    The Help page will list places where to find help. Meanwhile please give a try to the <a
      href="https://docs.gephi.org">Gephi documentation</a
    >.
  </p>
</UnderConstructionPage>
