---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header class="banner py-5">
    <section class="container my-5 py-4">
      <h1><Icon name="ph:link-break" /> Something about Gephi could not be found!</h1>
    </section>
  </header>

  <main class="p-5">
    <h2>Please visit <a href="/">Gephi.org homepage</a> to find the information you were looking for.</h2>
  </main>
</Layout>
