---
import { Icon } from "astro-icon/components";
import Banner from "../components/Banner.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Banner>
    <h1><Icon name="ph:link-break" /> Something about Gephi could not be found!</h1>
  </Banner>

  <main class="container py-5">
    <h2>Please visit <a href="/">Gephi.org</a> homepage to find the information you were looking for.</h2>
  </main>
</Layout>
