---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header class="container container-medium mt-5 mb-5 text-center">
    <section>
      <h1>Download Gephi</h1>
    </section>
  </header>

  <main class="container">TODO</main>
</Layout>
