---
import { identity } from "lodash-es";
import Parser from "rss-parser";

const feedUrl = "https://gephi.wordpress.com/feed/";

const parser = new Parser<{ [key: string]: any }, { "media:thumbnail"?: { $: { url: string } } }>({
  timeout: 2000,
  customFields: {
    item: ["media:thumbnail"],
  },
});
const feed = await parser.parseURL(feedUrl);

const dateFormatter = new Intl.DateTimeFormat("en-EN", { dateStyle: "long" });
---

<section class="blog-posts-container">
  <h2>Latest posts on Gephi's blog</h2>

  <div class="blog-posts">
    {
      feed.items.slice(0, 4).map((item) => (
        <article class="blog-post">
          {item["media:thumbnail"] && <img alt="" src={item["media:thumbnail"]?.$.url} />}
          <h4>
            <a href={item.link}>{item.title}</a>
          </h4>
          <div>{item.contentSnippet}</div>
          <div class="text-end text-muted">
            by{" "}
            {[item.creator, item.pubDate && dateFormatter.format(new Date(item.pubDate))].filter(identity).join(" on ")}
          </div>
        </article>
      ))
    }
  </div>
</section>
