---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import DownloadGephiDesktop from "../../components/DownloadGephiDesktop.astro";
import LangSwitcher from "../../components/LangSwitcher.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <style>
    :root {
      --bs-primary: var(--bs-gephi-desktop-logo);
      --bs-primary-rgb: var(--bs-gephi-desktop-logo-rgb);
      --bs-link-color-rgb: var(--bs-gephi-desktop-logo-rgb);
    }
  </style>
  <header class="banner py-5">
    <section class="container my-5 py-4">
      <div class="row align-items-center">
        <div class="col-7 d-flex flex-column gap-4">
          <div>
            <h1 class="gephi-font">Gephi</h1>
          </div>

          <p class="fs-3">
            Gephi is an <strong>open-source</strong> desktop application to <strong>visually analyze networks</strong>.
          </p>

          <DownloadGephiDesktop withAlternativeLinks />
        </div>
        <div class="col-5 text-end">
          <Image
            src="/icons/gephi-desktop-logo-inverted.svg"
            class="mb-3 mb-md-0"
            alt="Gephi logo"
            width="400"
            height="400"
          />
        </div>
      </div>
    </section>
  </header>

  <main class="pt-5">
    <section class="container">
      <LangSwitcher fromPath={Astro.originPathname} />
    </section>

    <section class="container pb-5">
      <section class="feature feature-flat">
        <div class="feature-background" style="opacity: 0.1; background-image: url(/lite/graph.png);"></div>
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:lightbulb" class="text-primary" />
              <span>Gephi is nice!</span>
            </h2>
            <p>
              And then some text! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duo amet, cum aliquid
              praesent zzril aliquid culpa euismod enim anim facer reprehenderit soluta rebum, odio diam nihil nonummy
              fugiat exerci proident eos dolore at stet clita sed.
            </p>
            <p>
              Labore nostrud, ea duis volutpat consectetuer adipisici nobis feugait nobis doming proident facilisis
              feugait commodi sanctus.
            </p>
          </div>
        </section>

        <section class="feature-arguments">
          <figure class="figure">
            <img src="https://placecats.com/millie_neo/300/200" class="border figure-img img-fluid" alt="" />
            <figcaption class="figure-caption text-muted text-center">Some picture with a caption</figcaption>
          </figure>

          <figure class="figure">
            <img src="https://placecats.com/millie_neo/280/200" class="border figure-img img-fluid" alt="" />
            <figcaption class="figure-caption text-muted text-center">And then some more</figcaption>
          </figure>
        </section>
      </section>
    </section>
  </main>
</Layout>
