---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import DownloadGephiDesktop from "../../components/DownloadGephiDesktop.astro";
import LangSwitcher from "../../components/LangSwitcher.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout pageId="desktop">
  <style>
    :root {
      --bs-primary: var(--bs-gephi-desktop-logo);
      --bs-primary-rgb: var(--bs-gephi-desktop-logo-rgb);
      --bs-link-color-rgb: var(--bs-gephi-desktop-logo-rgb);
    }
  </style>
  <header class="banner py-5">
    <section class="container my-5 py-4">
      <div class="row align-items-center">
        <div class="col-7 d-flex flex-column gap-4">
          <div>
            <h1 class="gephi-font">Gephi</h1>
          </div>

          <p class="fs-3">
            Gephi is an <strong>open-source</strong> desktop application to <strong>visually analyze networks</strong>.
          </p>

          <DownloadGephiDesktop withAlternativeLinks />
        </div>
        <div class="col-5 text-end">
          <Image
            src="/icons/gephi-desktop-logo-inverted.svg"
            class="mb-3 mb-md-0"
            alt="Gephi logo"
            width="400"
            height="400"
          />
        </div>
      </div>
    </section>
  </header>

  <main class="pt-5">
    <section class="container">
      <LangSwitcher fromPath={Astro.originPathname} />
    </section>

    <section class="container pb-5">
      <section class="feature feature-flat">
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:desktop-tower" class="text-primary" />
              <span>Gephi Desktop</span>
            </h2>
            <p>
              Since 2008, <strong>Gephi</strong> has empowered researchers, journalists and students across diverse fields
              to <strong>explore, manipulate, and understand</strong> complex networks.
            </p>

            <p>
              The <strong>Gephi</strong> application in Java ("Gephi Desktop") is open-source and free under the <a
                href="https://www.gnu.org/licenses/gpl-3.0.fr.html">GPL License</a
              >.
            </p>
          </div>
        </section>
      </section>

      <section class="feature">
        <div class="feature-background" style="opacity: 0.1; background-image: url(/desktop/Divided-they-blog.png);"></div>
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:eye" class="text-primary" />
              <span>Visual thinking</span>
            </h2>
            <p>
              Like GIMP but for <strong>graph data</strong>, the user interacts with the representation, manipulate the
              structures, shapes and colors to reveal hidden patterns.
            </p>
            <p>
              Gephi helps data analysts
              <strong>explore networks, test hypotheses, and discover meaningful patterns</strong>
              in complex relational data.
              By enabling <strong>visual thinking</strong> through interactive interfaces,
              it complements traditional statistical methods and enhances analytical reasoning.
            </p>
            <p>
              Built for <a href="https://en.wikipedia.org/wiki/Exploratory_data_analysis">Exploratory Data Analysis</a>,
              Gephi embodies principles from the
              <strong>Visual Analytics</strong> research field.
            </p>
          </div>
        </section>

        <section class="feature-arguments">
          <figure class="figure">
            <img src="/public/desktop/Gephi Desktop Screenshot DtB.png"  style="height: 315px"class="border figure-img img-fluid" alt="" />
            <figcaption class="figure-caption text-muted text-center">Visual user interface</figcaption>
          </figure>
          <figure class="figure">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/YM_37z_uURM?si=K76ynBwTzBazS7Um"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen></iframe>
            <figcaption class="figure-caption text-muted text-center">Short introduction to Gephi</figcaption>
          </figure>
        </section>
      </section>

      <section class="feature">
        <div class="feature-background" style="opacity: 0.15; background-image: url(/desktop/graph.png);"></div>
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:cursor-click" class="text-primary" />
              <span>Real-time visualization</span>
            </h2>
            
            <p>
              Experience the fastest <strong>graph visualization engine</strong>
              to accelerate understanding and pattern discovery in large networks.
            </p>
            <p>
              Powered by a <strong>custom OpenGL engine</strong>,
              Gephi delivers unmatched performance for interactive network exploration.
            </p>
            <ul>
              <li>Handle networks with up to <strong>100,000 nodes</strong> and <strong>1,000,000 edges</strong></li>
              <li>Refine insights with <strong>dynamic filtering</strong> capabilities</li>
              <li>Transform data using comprehensive <strong>graph manipulation</strong> tools</li>
            </ul>
          </div>
        </section>

        <section class="feature-arguments">
          <figure class="figure">
            <img src="/public/desktop/realtime_01.png" class="border figure-img img-fluid" alt="" />
            <figcaption class="figure-caption text-muted text-center">Drag and drop nodes</figcaption>
          </figure>

          <figure class="figure">
            <img src="/public/desktop/realtime_02.png" class="border figure-img img-fluid" alt="" />
            <figcaption class="figure-caption text-muted text-center">Highlight neighbors</figcaption>
          </figure>
        </section>
      </section>

      <section class="feature">
        <div class="feature-background" style="opacity: 0.1; background-image: url(/desktop/layout-clusters.png);"></div>
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:graph" class="text-primary" />
              <span>Layout</span>
            </h2>

            <p>
              Layout algorithms define the visual structure of your graph.
              Gephi offers <strong>state-of-the-art network layout algorithms</strong>
              that balance both efficiency and quality.
            </p>
            <p>
              The <strong>Layout module</strong> enables real-time adjustment of layout settings,
              dramatically enhancing user feedback and experience.
            </p>
            <ul>
              <li><strong>Force-driven algorithms</strong> for natural node positioning</li>
              <li><strong>Readability optimization</strong> for clearer graph interpretation</li>
            </ul>
          </div>
        </section>

        <section class="feature-arguments">
          <figure class="figure">
            <img src="/public/desktop/layout_02.png" class="border figure-img img-fluid" alt="" />
            <figcaption class="figure-caption text-muted text-center">Separate clusters</figcaption>
          </figure>

          <figure class="figure">
            <img src="/public/desktop/layout_01.png" class="border figure-img img-fluid" alt="" />
            <figcaption class="figure-caption text-muted text-center">Keep your network compact</figcaption>
          </figure>
        </section>
      </section>

      <section class="feature feature-flat">
        <!-- TODO: Insert a better background image for this topic -->
        <div class="feature-background" style="opacity: 0.1; background-image: url(/lite/graph.png);"></div>
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:chart-scatter" class="text-primary" />
              <span>Metrics</span>
            </h2>
            <p>
              The statistics and metrics framework offer the most common metrics for <strong
                >social network analysis
              </strong> (SNA) and <strong>scale-free networks</strong>.
            </p>
            <ul>
              <li>Betweenness Centrality, Closeness, Diameter, Clustering Coefficient, PageRank</li>
              <li>Community detection (Modularity)</li>
              <li>Random generators</li>
              <li>Shortest path</li>
            </ul>
          </div>
        </section>

        <section class="feature-arguments">
          <!-- TODO: Insert pictures or media to illustrate this topic -->
        </section>
      </section>

      <section class="feature feature-flat">
        <!-- TODO: Insert a better background image for this topic -->
        <div class="feature-background" style="opacity: 0.1; background-image: url(/lite/graph.png);"></div>
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:map-trifold" class="text-primary" />
              <span>Make Cartography</span>
            </h2>
            <p>
              Use ranking or partition data to make meaningful the <strong>network representation</strong>. Customize
              colors, size or labels to bring sense to the network representation.
            </p>
            <p>
              The <strong>vectorial based</strong> preview rendering lets you put the final touch and care about aesthetics
              before explorting in <strong>SVG</strong>, <strong>PNG</strong> or <strong>PDF</strong>.
            </p>
            <ul>
              <li>Customizable export parameters</li>
              <li>Save presets</li>
            </ul>
          </div>
        </section>

        <section class="feature-arguments">
          <!-- TODO: Insert pictures or media to illustrate this topic -->
        </section>
      </section>

      <section class="feature feature-flat">
        <!-- TODO: Insert a better background image for this topic -->
        <div class="feature-background" style="opacity: 0.1; background-image: url(/lite/graph.png);"></div>
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:grid-nine" class="text-primary" />
              <span>Data Table and Edition</span>
            </h2>
            <p>
              <strong>Gephi</strong> has its own <strong>Data Laboratory</strong> to manipulate data columns, search and
              transform the data.
            </p>
            <ul>
              <li>Powerful Search/Replace</li>
              <li>Manipulate columns</li>
              <li>Batch-edit, custom column merge and more</li>
            </ul>
          </div>
        </section>

        <section class="feature-arguments">
          <!-- TODO: Insert pictures or media to illustrate this topic -->
        </section>
      </section>

      <section class="feature feature-flat">
        <!-- TODO: Insert a better background image for this topic -->
        <div class="feature-background" style="opacity: 0.1; background-image: url(/lite/graph.png);"></div>
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:exclude" class="text-primary" />
              <span>Dynamic Filtering</span>
            </h2>
            <p>
              <strong>Filter the network </strong> to select nodes and/or edges based on the <strong
                >network structure</strong
              > or<strong>data</strong> .
            </p>
            <p>
              Use interactive user interface to filter the network <strong>in real-time</strong>.
            </p>
          </div>
        </section>

        <section class="feature-arguments">
          <!-- TODO: Insert pictures or media to illustrate this topic -->
        </section>
      </section>

      <section class="feature feature-flat">
        <!-- TODO: Insert a better background image for this topic -->
        <div class="feature-background" style="opacity: 0.1; background-image: url(/lite/graph.png);"></div>
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:tray-arrow-down" class="text-primary" />
              <span>Input / Output</span>
            </h2>
            <p>
              <strong>Gephi</strong> can read the majority of <strong>graph file formats</strong> but also supports
              <strong>CSV</strong> and <strong>databases</strong> import.
            </p>
            <ul>
              <li>Spreadsheet import wizard</li>
              <li>Database import</li>
              <li>Save/Load project files</li>
            </ul>
          </div>
        </section>

        <section class="feature-arguments">
          <!-- TODO: Insert pictures or media to illustrate this topic -->
        </section>
      </section>

      <section class="feature feature-flat">
        <!-- TODO: Insert a better background image for this topic -->
        <div class="feature-background" style="opacity: 0.1; background-image: url(/lite/graph.png);"></div>
        <section class="feature-headline">
          <div class="feature-text">
            <h2>
              <Icon name="ph:circles-three-plus" class="text-primary" />
              <span>Extensible</span>
            </h2>
            <p>
              The built-in <strong>Plugins Center</strong> automatically gets the list of plugins available from the
              <strong><a href="/desktop/plugins">Gephi Plugin portal</a></strong> and takes care of all software updates.
            </p><p>
              There are various<strong> community-built</strong> plugins that extends <strong>Gephi's</strong>
              functionalities.
            </p>
          </div>
        </section>

        <section class="feature-arguments">
          <!-- TODO: Insert pictures or media to illustrate this topic -->
        </section>
      </section>

      <section class="feature feature-flat">
        <div class="feature-text">
          <h2>
            <Icon name="ph:road-horizon" class="text-primary" />
            <span>Roadmap to Gephi Desktop 1.0</span>
          </h2>
          
          <p>
            Gephi Desktop has been a “beta” version for more than a decade. This just means that the team does not consider the tool to be complete yet. We aim to implement the following features before getting “version 1.0”:
          </p>

          <ul class="fs-4 ps-md-0 mt-0">
            <li><strong>Undo feature</strong>, limited to the “GEXF scope”: network data, metadata, positions, sizes, colors…</li>
            <li><strong>More readable UI</strong> with clearer icons.</li>
            <li><strong>Activity log</strong>, possibly coordinated to undo, possibly stored in the GEXF.</li>
            <li><strong>Parallel edges.</strong> The GraphStore (Gephi’s internal engine) supports them but they are not currently visualized or accessible from the user interface.</li>
            <li><strong>Improved timeline</strong> for dynamic graphs.</li>
            <li><strong>New GPU visualization engine.</strong> We aim for comfortably visualizing 200K nodes and 1M edges on an average consumer laptop. Might be ready soon!</li>
            <li><strong>Legend generator</strong> (note: available in Gephi Lite)</li>
          </ul>

          <p>
            We are also considering the following features, but for a more distant future:
          </p>
          
          <ul class="fs-4 ps-md-0 mt-0">
            <li>Local exploration, i.e. at least a quick overview of a subgraph.</li>
            <li>Integrate other visualization (treemap, scatter plots...)</li>
            <li>Rework the image export with more advanced renderers</li>
          </ul>
        </div>
      </section>
    </section>
  </main>
</Layout>
