---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import Banner from "../../components/Banner.astro";
import Gephi from "../../components/quickstart/Gephi.md";
import GephiLite from "../../components/quickstart/GephiLite.md";
import Layout from "../../layouts/Layout.astro";
---

<Layout class="no-sticky-nav" pageId="quickstart">
  <Banner>
    <h1>Quickstart</h1>
  </Banner>

  <main id="quickstart-page" class="py-5">
    <section class="quickstart-choice w-100 sticky-top container">
      <h2 class="d-flex justify-content-center align-items-center gap-3 w-100">
        <div class="label-container">
          <a href="#gephi" id="gephi-choice-label">
            <Image
              src="/icons/gephi-desktop-logo-inverted.svg"
              class="mb-3 mb-md-0"
              alt="Gephi logo"
              width="100"
              height="100"
            />
            <span class="label-content">Gephi</span>
          </a>
        </div>
        <div class="togglers" role="radiogroup" aria-label="How-to columns">
          <div class="toggler" role="none"></div>
          <a
            href="#gephi"
            title="gephi"
            class="toggle gephi"
            id="gephi"
            role="radio"
            aria-labelledby="gephi-choice-label"></a>
          <a href="#_" title="both" class="toggle both" role="radio" aria-label="Both Gephi and Gephi Lite"
            ><Icon name="ph:text-columns" role="none" /></a
          >
          <a
            href="#gephi-lite"
            title="gephi-lite"
            id="gephi-lite"
            class="toggle gephi-lite"
            role="radio"
            aria-labelledby="gephi-lite-choice-label"></a>
        </div>
        <div class="label-container">
          <a href="#gephi-lite" id="gephi-lite-choice-label">
            <span class="label-content">Gephi Lite</span>

            <Image
              src="/icons/gephi-lite-logo-inverted.svg"
              class="mb-3 mb-md-0"
              alt="Gephi logo"
              width="100"
              height="100"
            />
          </a>
        </div>
      </h2>
    </section>
    <section class="quickstart container">
      <article class="quickstart-column" id="gephi-column">
        <Gephi />
      </article>
      <article class="quickstart-column" id="gephi-lite-column">
        <GephiLite />
      </article>
    </section>
  </main>
</Layout>
