---
import "../styles/main.scss";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="https://gephi.org" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta
      name="description"
      content="Gephi is the leading visualization and exploration software for all kinds of graphs and networks. Gephi is open-source and free."
    />
    <title>Gephi - The Open Graph Viz Platform</title>
  </head>
  <body class={className}>
    <nav class="navbar navbar-expand">
      <div class="container">
        <a href="/" class="navbar-brand mr-auto mb-0">
          <Image src="/gephi-logo.svg" alt="Gephi logo" width="50" height="50" />
          <span class="ms-2 gephi-font" style="font-weight: 600;">Gephi</span>
        </a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://gephi.wordpress.com">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/gephi">GitHub</a>
          </li>
          <!--<li class="nav-item">-->
          <!--  <a class="nav-link" href="/help">Help</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
          <!--  <a class="nav-link" href="/contribute">Contribute</a>-->
          <!--</li>-->
          <li class="nav-item">
            <details class="nav-dropdown">
              <summary aria-haspopup="true" aria-expanded="false"
                >Applications <span class="caret"><Icon name="ph:caret-down" /></span></summary
              >
              <ul class="dropdown-menu list-unstyled">
                <li><a class="dropdown-item" href="/desktop">Gephi</a></li>
                <li><a class="dropdown-item" href="/desktop/plugins">Gephi plugins</a></li>
                <li><a class="dropdown-item" href="/lite">Gephi Lite</a></li>
                <!--<li><a class="dropdown-item" href="/toolkit">Gephi Toolkit</a></li>-->
                <li><a class="dropdown-item" href="https://jacomyma.github.io/gephisto">Gephisto</a></li>
              </ul>
            </details>
          </li>
          <li class="nav-item">
            <a
              class="btn btn-dark fw-bold"
              href="https://opencollective.com/gephi/donate?interval=oneTime&amount=5&name=&legalName=&email="
              ><Icon name="ph:heart-fill" /> Donate 5€</a
            >
          </li>
        </ul>
      </div>

      <script>
        // Close dropdowns when clicking outside:
        document.addEventListener("click", function (event) {
          const dropdowns = document.querySelectorAll(".nav-dropdown[open]");

          dropdowns.forEach((dropdown) => {
            // If the click is outside the dropdown, close it
            if (event.target instanceof Node && !dropdown.contains(event.target)) {
              dropdown.removeAttribute("open");
            }
          });
        });

        // Prevent dropdown from closing when clicking inside it
        document.querySelectorAll(".nav-dropdown").forEach((dropdown) => {
          dropdown.addEventListener("click", function (event) {
            event.stopPropagation();
          });
        });
      </script>
    </nav>

    <slot />

    <footer class="container py-5 mb-5 border-top">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5">
        <div class="col d-flex flex-column align-items-start gap-2">
          <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
            <Image src="/gephi-logo-circle.svg" class="mb-3 mb-md-0" alt="Gephi logo" width="80" height="80" />
          </a>

          <a href="/desktop" class="btn btn-dark fw-bold"><Icon name="ph:download-simple-bold" /> Download Gephi</a>

          <a href="https://lite.gephi.org" class="btn btn-dark fw-bold"
            ><Icon name="ph:arrow-square-out-bold" /> Open Gephi Lite</a
          >
        </div>

        <div class="col mb-3"></div>

        <div class="col mb-3">
          <h5 class="mb-3">Project</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-body-secondary">About</a></li>
            <li class="nav-item mb-2"><a href="/faq" class="nav-link p-0 text-body-secondary">FAQ</a></li>
            <!--<li class="nav-item mb-2">-->
            <!--  <a href="/help" class="nav-link p-0 text-body-secondary">Get some help</a>-->
            <!--</li>-->
            <!--<li class="nav-item mb-2">-->
            <!--  <a href="/contribute" class="nav-link p-0 text-body-secondary">Contribute</a>-->
            <!--</li>-->
            <li class="nav-item mb-2">
              <a href="https://docs.gephi.org" class="nav-link p-0 text-body-secondary">Documentation</a>
            </li>
            <li class="nav-item mb-2">
              <a href="https://gephi.wordpress.com/" class="nav-link p-0 text-body-secondary">Blog</a>
            </li>
            <li class="nav-item mb-2 fw-bold">
              <a
                href="https://opencollective.com/gephi/donate?interval=oneTime&amount=5&name=&legalName=&email="
                class="nav-link p-0 text-body-secondary">Donate</a
              >
            </li>
          </ul>
        </div>

        <div class="col mb-3">
          <h5 class="mb-3">Applications</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/desktop" class="nav-link p-0 text-body-secondary">Gephi</a></li>
            <li class="nav-item mb-2">
              <a href="/desktop/plugins" class="nav-link p-0 text-body-secondary">Gephi Plugins</a>
            </li>
            <li class="nav-item mb-2"><a href="/lite" class="nav-link p-0 text-body-secondary">Gephi Lite</a></li>
            <!--<li class="nav-item mb-2"><a href="/toolkit" class="nav-link p-0 text-body-secondary">Gephi Toolkit</a></li>-->
            <li class="nav-item mb-2">
              <a href="https://jacomyma.github.io/gephisto" class="nav-link p-0 text-body-secondary">Gephisto</a>
            </li>
          </ul>
        </div>

        <div class="col mb-3">
          <h5 class="mb-3">Community</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="https://opencollective.com/gephi" class="nav-link p-0 text-body-secondary"
                ><Icon name="bi:opencollective" /> Open Collective</a
              >
            </li>
            <li class="nav-item mb-2">
              <a href="https://github.com/gephi" class="nav-link p-0 text-body-secondary"
                ><Icon name="ph:github-logo" /> GitHub</a
              >
            </li>
            <li class="nav-item mb-2">
              <a href="https://vis.social/@Gephi" class="nav-link p-0 text-body-secondary"
                ><Icon name="ph:mastodon-logo" /> Mastodon</a
              >
            </li>
            <li class="nav-item mb-2">
              <a href="https://reddit.com/r/gephi" class="nav-link p-0 text-body-secondary"
                ><Icon name="ph:reddit-logo" /> Reddit</a
              >
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
